body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#game-board {
    display:grid;
    grid-template-columns: repeat(3, minmax(30vw, 22vh));
    grid-template-rows: repeat(3, 22vh);
    gap: 20px;
    background-color: rgb(238, 174, 255);
    width:min-content;
    margin: 0 auto;
}

.tile {
    background-color: white;
    font-size: 22vh;
    text-align: center;
    color: purple
}

.menus {
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 2;
    position: absolute;
    width: 100vw;
    
    height: 70vh;
    text-align: center;
    left: 0;
    
}

#inputs {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 2vw
}

#inputs input {
    font-size: 2vw;
    padding: 10px;
    border-radius: 10px;
    border: 3px pink solid;
}

#inputs input:hover, #inputs input:focus-within{
    border: 3px darkmagenta solid;
}

input:focus {
    outline: none;
}

#start-button, #new-button {
    font-size: 5vw;
    margin-top: 10vh;
    border-radius: 10px;
    
    padding: 10px 25px;
    
}

#req {
    display: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#winner-menu {
    display: none;
    color: white;
}

h2 {
    font-size: 40px;
}

#vs-button {
    font-size: 2vw;
    margin-top: 10vh;
    border-radius: 10px;
    
    padding: 10px 25px;
}

button {
    border: 3px pink solid;
}

button:hover {
    border: 3px darkmagenta solid;

}

#inputs .disabled {
    border: 3px transparent solid;
}

#inputs .disabled:hover {
    border: 3px transparent solid;
}